<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">
      <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/bootstrap.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/account.css" rel="stylesheet">
   <script src="js/post.js"></script>
   <script src="js/introHCI.js"></script>

</head>

<body>
   <div class="top">
    <p class="logo" style="float:left">Find and Seek</p>
    </div>
        {{#each account}}
        <div class="img">
          <img src="{{image}}" class="img-responsive">
        </div>
        <div class="accinfo1">
          <h1> {{username}}</h1>
          <h2 for="email">{{email}}</h2>
        </div>
        {{/each}}
        <div class="accinfo2">
          <label for="lost">My Lost Items:</label>
            <div class="lostPost">
            {{#each lostposts}}
            <div class="individual">
              <img src="{{image}}" class="img-responsive">
              <h1>{{name}}</h1>
              <p>Description: {{description}}</p>
              <span id="moreText"><p>Last Seen: {{lastseen}}</p><p>Date: {{date}}</p></span>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="accinfo2">
          <label for="lost">My Found Items:</label>
            <div class="lostPost">
            {{#each foundposts}}
            <div class="individual">
            <img src="{{image}}" class="img-responsive">
              <h1>{{name}}</h1>
              <p>Description: {{description}}</p>
              <span id="moreText"><p>Last Seen: {{lastseen}}</p><p>Date: {{date}}</p></span>
            </div>
            {{/each}}
          </div>
        </div>     


     <div class="logout"> 
	     <button type="submit" onclick="window.location.href = '/';">Logout</button>
    </div>   

  <div class="bottom">
    <button type = "button" onclick="home()"><svg width="28" height="28" viewBox="0 0 28 28" fill="white" xmlns="http://www.w3.org/2000/svg">
<path id="home" d="M11.6666 23.3333V16.3333H16.3333V23.3333H22.1666V14H25.6666L14 3.5L2.33331 14H5.83331V23.3333H11.6666Z" fill="black" fill-opacity="0.54"/></svg></button>
    <button type = "button" onclick="window.location.href = 'post';"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.333328 12C0.333328 5.55999 5.56001 0.333313 12 0.333313C18.44 0.333313 23.6667 5.55999 23.6667 12C23.6667 18.44 18.44 23.6666 12 23.6666C5.56001 23.6666 0.333328 18.44 0.333328 12ZM13.1667 13.1666H17.8333V10.8333H13.1667V6.16665H10.8333V10.8333H6.16666V13.1666H10.8333V17.8333H13.1667V13.1666Z" fill="black" fill-opacity="0.54"/></svg></button>

    <button type = "button"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M21 18.375V12.5417C21 8.95999 19.0984 5.96165 15.75 5.16832V4.375C15.75 3.40668 14.9684 2.625 14 2.625C13.0317 2.625 12.25 3.40668 12.25 4.375V5.16832C8.91336 5.96165 7.00002 8.94834 7.00002 12.5417V18.375L4.66669 20.7083V21.875H23.3333V20.7083L21 18.375ZM14 25.375C15.2834 25.375 16.3334 24.325 16.3334 23.0417H11.6667C11.6667 24.325 12.7167 25.375 14 25.375ZM9.33335 19.5417H18.6667V12.5417C18.6667 9.64832 16.905 7.29167 14 7.29167C11.095 7.29167 9.33335 9.64832 9.33335 12.5417V19.5417Z" fill="black" fill-opacity="0.54"/>
</svg></button>

    <button id="home1" type = "button" onclick="window.location.href = 'account';"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path id="acc" fill-rule="evenodd" clip-rule="evenodd" d="M14 2.33331C7.55996 2.33331 2.33331 7.55999 2.33331 14C2.33331 20.44 7.55996 25.6666 14 25.6666C20.44 25.6666 25.6666 20.44 25.6666 14C25.6666 7.55999 20.44 2.33331 14 2.33331ZM8.24826 21.3266C8.74998 20.2766 11.8066 19.25 14 19.25C16.1933 19.25 19.2615 20.2766 19.7515 21.3266C18.1649 22.5866 16.17 23.3333 14 23.3333C11.8299 23.3333 9.8349 22.5866 8.24826 21.3266ZM14 16.9166C15.7033 16.9166 19.7518 17.605 21.42 19.635C22.61 18.0716 23.3333 16.1233 23.3333 14C23.3333 8.85498 19.145 4.66665 14 4.66665C8.85495 4.66665 4.66665 8.85498 4.66665 14C4.66665 16.1233 5.38998 18.0716 6.57999 19.635C8.24825 17.605 12.2966 16.9166 14 16.9166ZM14 6.99998C11.7368 6.99998 9.91665 8.81998 9.91665 11.0833C9.91665 13.3466 11.7368 15.1666 14 15.1666C16.2632 15.1666 18.0833 13.3466 18.0833 11.0833C18.0833 8.81998 16.2632 6.99998 14 6.99998ZM12.25 11.0833C12.25 12.0516 13.0316 12.8333 14 12.8333C14.9683 12.8333 15.75 12.0516 15.75 11.0833C15.75 10.115 14.9683 9.33331 14 9.33331C13.0316 9.33331 12.25 10.115 12.25 11.0833Z" fill="black" fill-opacity="0.54"/>
</svg></button>
  </div>

</body>
